
.action-button {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 100;
}

app-sprite.ruined {
  filter: grayscale(1);
}

.world-barrier {
  text-align: center;
  font-size: 1.3rem;
}

.cradle, .hinterland, .provinces {
  background-position: 50% 50%;
  background-size: cover;
}

ion-item {
  margin-left: 20px;
}

.suit-row {
  width: 100%;
  margin-top: 5px;

  .suit-col {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.suit-icon {
  width: 32px;
  height: 32px;
}