.sprite {
  object-fit: none;
  position: absolute;
  left: 0;
  top: 0;
}

.icon-container {
  position: relative;
  transform-origin: top left;
}

:host {
  display: inline-block;
  outline: 1px solid #aaa;

  &.inline-display {
    margin-right: 8px;
  }
}