<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <span class="formatted-name">Oath Legacy Vision</span>
    </ion-title>
  </ion-toolbar>
  <app-nav-links></app-nav-links>
</ion-header>

<ion-content>

  <div class="content-container">

    <ion-row class="ion-margin-top">
      <ion-col class="formatted-name visible-name ion-padding-start">
        <h3>Recent Games of Oath</h3>
      </ion-col>
    </ion-row>

  </div>

  <app-chronicle-list></app-chronicle-list>

</ion-content>
