/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Goudy Header";
  src: url("assets/font/GoudyTextMT-LombardicCapitals.svg") format("svg"),
       url("assets/font/GoudyTextMT-LombardicCapitals.ttf") format("truetype"),
       url("assets/font/GoudyTextMT-LombardicCapitals.woff") format("woff"),
       url("assets/font/GoudyTextMT-LombardicCapitals.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Goudy Body";
  src: url("assets/font/GoudyOldStyleT-Regular.svg") format("svg"),
       url("assets/font/GoudyOldStyleT-Regular.ttf") format("truetype"),
       url("assets/font/GoudyOldStyleT-Regular.woff") format("woff"),
       url("assets/font/GoudyOldStyleT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root, .body-text {
  --ion-font-family: "Goudy Body", Roboto, "Helvetica Neue", sans-serif !important;
}

.formatted-name::first-letter, .header-text {
  font-family: "Goudy Header", Roboto, "Helvetica Neue", sans-serif !important;
}

* {
  letter-spacing: 2px;
}

ion-button {
  text-transform: none;
}

ion-header > ion-toolbar {
  --min-height: 40px;
}

.cradle {
  background-image: url("assets/bg/cradle.png") !important;
}

.hinterland {
  background-image: url("assets/bg/hinterland.png") !important;
}

.provinces {
  background-image: url("assets/bg/provinces.png") !important;
}

ion-content {
  --background: #000 url("assets/bg/oath.png") no-repeat center center / cover;
  background-position: 50% 50%;
  background-size: cover !important;
}

.form-error {
  ion-text {
    font-size: 0.75rem;

    &::before {
      content: '· ';
    }
  }
}

ion-fab {
  position: fixed;
}

ion-list-header {
  font-size: 1.25rem;
}

ion-list-header .formatted-name {
  width: 100%;
}

.action-button {
  --padding-start: 3px;
  --padding-end: 3px;
}

.visible-name {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.text-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.readmore-alert .alert-wrapper {
  min-width: 80%;
  min-height: 80%;

  .alert-message {
    max-height: 100%;
  }
}

.infinite-loading-spinner ion-spinner {
  color: #fff !important;
}

.infinite-loading-text {
  color: #fff !important;
}