/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Goudy Header";
  src: url("assets/font/GoudyTextMT-LombardicCapitals.svg") format("svg"),
       url("assets/font/GoudyTextMT-LombardicCapitals.ttf") format("truetype"),
       url("assets/font/GoudyTextMT-LombardicCapitals.woff") format("woff"),
       url("assets/font/GoudyTextMT-LombardicCapitals.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Goudy Body";
  src: url("assets/font/GoudyOldStyleT-Regular.svg") format("svg"),
       url("assets/font/GoudyOldStyleT-Regular.ttf") format("truetype"),
       url("assets/font/GoudyOldStyleT-Regular.woff") format("woff"),
       url("assets/font/GoudyOldStyleT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --ion-font-family: "Goudy Body", Roboto, "Helvetica Neue", sans-serif !important;
}

.formatted-name::first-letter {
  font-family: "Goudy Header", Roboto, "Helvetica Neue", sans-serif !important;
}

* {
  letter-spacing: 2px;
}

ion-button {
  text-transform: none;
}

ion-header > ion-toolbar {
  --min-height: 40px;
}

.content-container {
  background-image: url("assets/oath.png") !important;
  background-position: 50% 50%;
  background-size: cover;

  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);

  position: relative;

  overflow-y: auto;
}

.form-error {
  ion-text {
    font-size: 0.75rem;

    &::before {
      content: '· ';
    }
  }
}

ion-fab {
  position: fixed;
}